---
layout: default
---
<div class="post-summary">
  {% for post in site.posts %}
    <div class="row">
      <a href="{{ post.url }}" class="col-md-12">
        <h1>{{ post.title }}</h1>
      </a>
      <div class="col-md-9">
        <p class="post-date">{{ post.date | date_to_string }}</p>
        {% assign excerpt_len = post.excerpt | number_of_words  %}
        {% assign content_len = post.content | number_of_words  %}
        {% if content_len > excerpt_len %}
          {{ post.excerpt }}
          <p><a href="{{ post.url | relative_url }}">Read more</a></p>
        {% else %}
          {{ post.content }}
        {% endif %}
      </div>
    </div>
    <hr/>
  {% endfor %}
</div>